.chat-container {
  background-image: url("https://www.transparenttextures.com/patterns/dark-geometric.png");
    background-color: #C3DFF6;
    width: 400px;
    height: 500px;
    position: fixed;
    bottom: 40px;
    right: 20px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px #848282;
  }
  
  .chat-header {
    background-color: #0e415a;
    padding: 20px;
    display: flex;
    color:rgb(0, 0, 0);
    justify-content: space-between;
    align-items: center;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
  }
  
  .chat-header h5 {
    margin: 0;
    font-weight: bold;
    color: white;
  }
  
  .close-icon {
    font-size: 18px;
    cursor: pointer;
  }
  
  .chat-body {
    height: 80%;
    overflow-y: scroll;
    padding: 20px;
  }
  .chat-body::-webkit-scrollbar {
  width: 10px;
  background-color:#0e415a;
}
  
  .bot-message {
    background-color: #5B89AD;
    padding: 10px;
    border-radius: 10px;
    max-width: 80%;
    color:rgb(21, 21, 21);
    font-size: 15px;
    margin: 10px;
    align-self: flex-start;
    text-align: left;
  }
  
  .user-message{
    background-color: #2d5b71;
    padding: 10px;
    border-radius: 10px;
    max-width: 80%;
    color:rgb(255, 255, 255);
    font-size: 15px;
    margin: 10px;
    align-self: flex-end;
    text-align: right;
    margin-left: auto;
  }
  .glow {
    box-shadow: 0 0 40px #ffffff;
  }
  .message-container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    flex-wrap: wrap;
    width: 100%;
  }
  
  
  .chat-footer {
    display: flex;
    align-items: center;
    padding: 10px;
    background-color: #0e415a;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
  }
  
  .chat-footer form {
    width: 100%;
    display: flex;
    align-items: center;
  }
  
  .chat-footer form input[type="text"] {
    width: 80%;
    padding: 10px;
    border: none;
    border-radius: 20px;
    margin-right: 10px;
  }
  
  .chat-footer form button[type="submit"] {
    background-color: #333;
    color: white;
    padding: 10px 20px;
    border-radius: 20px;
    border: none;
    cursor: pointer;
  }
  
  .chat-footer form button[type="submit"]:hover {
    background-color: #444;
  }
  
.icon:hover {
  cursor:pointer;
    transform: scale(1.2);
    }
    
    .icon {
    transition: transform 0.2s ease-in-out;
    }
    
  
    .bot-typing-animation {
      display: flex;
      align-items: center;
      justify-content: center;
      margin-left: 10px;
    }
    
    .bot-typing-animation .dot1,
    .bot-typing-animation .dot2,
    .bot-typing-animation .dot3 {
      width: 6px;
      height: 6px;
      margin: 0px 3px;
      background-color: #666;
      border-radius: 50%;
      animation: botTyping 1.5s infinite ease-in-out;
    }
    
    @keyframes botTyping {
      0% {
        transform: scale(0);
      }
      50% {
        transform: scale(1);
      }
      100% {
        transform: scale(0);
      }
    }
    